In [1]:
import pandas as pd
import numpy as np
columns=['site_name', 'posa_continent','is_mobile','is_package','channel','srch_ci','srch_co','srch_destination_id', 
'srch_destination_type_id','is_booking','hotel_continent','hotel_market','hotel_cluster','day', 'dayofweek', 'month', 'quarter']
sort=['user_location_country','srch_destination_id', 'srch_destination_type_id','hotel_market','quarter']
train = pd.read_csv("./kaggle/expedia/data/train.csv", chunksize=1000000)
aggs = []
print('-'*38)
for chunk in train:
    props = {}
    chunk['date_time'] = pd.to_datetime(chunk['date_time'])
    for prop in ["month", "day", "dayofweek", "quarter"]:
        props[prop] = getattr(chunk["date_time"].dt, prop)
    chunk.drop('date_time',inplace=True,axis=1)
    ret = pd.DataFrame(props)
    chunk=pd.concat([chunk,ret],axis=1)
    agg = chunk.groupby(columns)['is_booking'].agg(['sum','count'])
    agg.reset_index(inplace=True)
    aggs.append(agg)
    print('.',end='')
print('')
"""
'site_name', 
'posa_continent',
'user_location_country',
'user_location_region', 
'user_location_city',
'orig_destination_distance', 
'user_id', 
'is_mobile', 
'is_package',
'channel', 
'srch_ci', 
'srch_co', 
'srch_adults_cnt', 
'srch_children_cnt',
'srch_rm_cnt', 
'srch_destination_id', 
'srch_destination_type_id',
'is_booking', 
'cnt', 
'hotel_continent', 
'hotel_country', 
'hotel_market',
'hotel_cluster', 
'day', 
'dayofweek', 
'month', 
'quarter'
"""
aggs = pd.concat(aggs, axis=0)
aggs.head(40)

--------------------------------------
......................................

,site_name,posa_continent,is_mobile,is_package,channel,srch_ci,srch_co,srch_destination_id,srch_destination_type_id,is_booking,hotel_continent,hotel_market,hotel_cluster,day,dayofweek,month,quarter,sum,count
0,2,3,0,0,0,2013-01-07,2013-01-09,1536,1,0,6,1414,67,7,0,1,1,0,1
1,2,3,0,0,0,2013-01-07,2013-01-09,1536,1,1,6,1414,67,7,0,1,1,1,1
2,2,3,0,0,0,2013-01-09,2013-01-10,17494,1,0,2,425,18,8,1,1,1,0,1
3,2,3,0,0,0,2013-01-09,2013-01-10,25372,6,0,2,1300,48,7,0,1,1,0,1
4,2,3,0,0,0,2013-01-09,2013-01-10,25372,6,1,2,1300,48,7,0,1,1,1,1
5,2,3,0,0,0,2013-01-09,2013-01-13,12190,6,0,2,637,41,7,0,1,1,0,1
6,2,3,0,0,0,2013-01-09,2013-01-13,12191,6,0,2,637,72,7,0,1,1,0,1
7,2,3,0,0,0,2013-01-09,2013-01-13,12191,6,0,2,637,95,7,0,1,1,0,1
8,2,3,0,0,0,2013-01-10,2013-01-11,1695,1,0,2,1650,14,10,3,1,1,0,1
9,2,3,0,0,0,2013-01-10,2013-01-11,6574,6,0,3,61,17,9,2,1,1,0,1
10,2,3,0,0,0,2013-01-10,2013-01-11,6574,6,1,3,61,17,9,2,1,1,1,1
11,2,3,0,0,0,2013-01-11,2013-01-12,769,3,0,5,171,60,8,1,1,1,0,1
12,2,3,0,0,0,2013-01-11,2013-01-12,769,3,0,5,171,61,8,1,1,1,0,1
13,2,3,0,0,0,2013-01-11,2013-01-12,769,3,1,5,171,61,8,1,1,1,1,1
14,2,3,0,0,0,2013-01-11,2013-01-12,27186,1,0,2,439,91,7,0,1,1,0,1
15,2,3,0,0,0,2013-01-11,2013-01-13,11353,1,0,2,699,73,9,2,1,1,0,1
16,2,3,0,0,0,2013-01-11,2013-01-13,11353,1,1,2,699,73,9,2,1,1,1,1
17,2,3,0,0,0,2013-01-11,2013-01-14,8250,1,0,2,628,1,10,3,1,1,0,1
18,2,3,0,0,0,2013-01-11,2013-01-14,8250,1,1,2,628,1,10,3,1,1,1,1
19,2,3,0,0,0,2013-01-12,2013-01-13,5223,3,0,2,557,42,12,5,1,1,0,1
20,2,3,0,0,0,2013-01-12,2013-01-13,8832,1,0,2,627,10,11,4,1,1,0,1
21,2,3,0,0,0,2013-01-12,2013-01-13,8832,1,0,2,627,34,11,4,1,1,0,2
22,2,3,0,0,0,2013-01-12,2013-01-13,8832,1,1,2,627,34,11,4,1,1,1,1
23,2,3,0,0,0,2013-01-12,2013-01-13,14094,4,0,2,690,9,10,3,1,1,0,1
24,2,3,0,0,0,2013-01-12,2013-01-13,26496,1,0,2,454,6,9,2,1,1,0,1
25,2,3,0,0,0,2013-01-13,2013-01-14,8250,1,0,2,628,1,12,5,1,1,0,1
26,2,3,0,0,0,2013-01-13,2013-01-14,8250,1,0,2,628,49,12,5,1,1,0,3
27,2,3,0,0,0,2013-01-13,2013-01-14,8250,1,1,2,628,49,12,5,1,1,1,1
28,2,3,0,0,0,2013-01-13,2013-01-14,12009,1,0,2,680,42,11,4,1,1,0,1
29,2,3,0,0,0,2013-01-13,2013-01-14,12009,1,1,2,680,42,11,4,1,1,1,1
30,2,3,0,0,0,2013-01-13,2013-01-14,12257,6,0,4,1509,17,11,4,1,1,0,1
31,2,3,0,0,0,2013-01-13,2013-01-14,12257,6,0,4,1509,18,11,4,1,1,0,1
32,2,3,0,0,0,2013-01-13,2013-01-14,12257,6,0,4,1509,72,11,4,1,1,0,1
33,2,3,0,0,0,2013-01-13,2013-01-14,12257,6,0,4,1509,91,11,4,1,1,0,1
34,2,3,0,0,0,2013-01-13,2013-01-14,12257,6,1,4,1509,72,11,4,1,1,1,1
35,2,3,0,0,0,2013-01-14,2013-01-15,8250,1,0,2,628,10,13,6,1,1,0,1
36,2,3,0,0,0,2013-01-14,2013-01-15,8250,1,1,2,628,10,13,6,1,1,1,1
37,2,3,0,0,0,2013-01-14,2013-01-15,12197,6,0,2,656,76,14,0,1,1,0,1
38,2,3,0,0,0,2013-01-14,2013-01-15,12197,6,1,2,656,76,14,0,1,1,1,1
39,2,3,0,0,0,2013-01-14,2013-01-15,23693,1,0,2,1634,47,12,5,1,1,0,1

In [ ]:
CLICK_WEIGHT = 0.05
agg = aggs.groupby(columns).sum().reset_index()
agg['count'] -= agg['sum']
agg = agg.rename(columns={'sum':'bookings','count':'clicks'})
agg['relevance'] = agg['bookings'] + CLICK_WEIGHT * agg['clicks']
agg.head()

In [100]:
def most_popular(group, n_max=5):
    relevance = group['relevance'].values
    hotel_cluster = group['hotel_cluster'].values
    most_popular = hotel_cluster[np.argsort(relevance)[::-1]][:n_max]
    return np.array_str(most_popular)[1:-1] # remove square brackets

In [106]:
most_pop = agg.groupby(sort).apply(most_popular)
most_pop = pd.DataFrame(most_pop).rename(columns={0:'hotel_cluster'})
most_pop.head()

                                                                                        hotel_cluster
user_location_country srch_destination_id srch_destination_type_id hotel_market quarter
0                     4                   1                        246          2                  81
                                                                                3                  78
                                                                                4                  30
                      8                   1                        416          4            76 39 14
                      9                   3                        2101         1               20 61

In [107]:
test = pd.read_csv('./kaggle/expedia/data/test.csv')
props = {}
test['date_time'] = pd.to_datetime(test['date_time'])
for prop in ["month", "day", "dayofweek", "quarter"]:
    props[prop] = getattr(test["date_time"].dt, prop)
test.drop('date_time',inplace=True,axis=1)
ret = pd.DataFrame(props)
test=pd.concat([test,ret],axis=1)

In [108]:
sort=['user_location_country','srch_destination_id', 'srch_destination_type_id','hotel_market','quarter']
test = test.merge(most_pop, how='left',left_on=sort,right_index=True)
test.head()

,id,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market,day,dayofweek,month,quarter,hotel_cluster
0,0,2,3,66,174,37449,5539.0567,1,1,0,...,12243,6,6,204,27,3,3,9,3,5 37 55 22 68
1,1,2,3,66,174,37449,5873.2923,1,1,0,...,14474,7,6,204,1540,24,3,9,3,NaN
2,2,2,3,66,142,17440,3975.9776,20,0,0,...,11353,1,2,50,699,7,6,6,2,0 31 96 25 59
3,3,2,3,66,258,34156,1508.5975,28,0,1,...,8250,1,2,50,628,14,0,9,3,1 79 45 54 24
4,4,2,3,66,467,36345,66.7913,50,0,0,...,11812,1,2,50,538,17,4,7,3,91 72 48 9 77

In [55]:
preds=test.hotel_cluster

In [57]:
test.drop('hotel_cluster',axis=1,inplace=True)
columns=columns[:-1]

In [94]:
columns=columns[:-1]
#need to collapse the aggs data
#agg=agg.groupby(columns[:-1]).sum().reset_index()
agg.head(19)
most_pop = agg.groupby(columns).apply(most_popular)
most_pop = pd.DataFrame(most_pop).rename(columns={0:'hotel_cluster'})
most_pop.head()

                                                                                              hotel_cluster
user_location_country srch_destination_id srch_destination_type_id hotel_market hotel_cluster
0                     4                   1                        246          30                       30
                                                                                78                       78
                                                                                81                       81
                      8                   1                        416          14                       14
                                                                                39                       39

In [87]:
agg.drop(['bookings','clicks','quarter'],axis=1,inplace=True)

In [95]:
most_pop

                                                                                              hotel_cluster
user_location_country srch_destination_id srch_destination_type_id hotel_market hotel_cluster
0                     4                   1                        246          30                       30
                                                                                78                       78
                                                                                81                       81
                      8                   1                        416          14                       14
                                                                                39                       39
                                                                                76                       76
                      9                   3                        2101         20                       20
                                                                                40                       40
                                                                                60                       60
                                                                                61                       61
                      14                  3                        1434         20                       20
                                                                                38                       38
                                                                                75                       75
                      19                  1                        1522         6                         6
                                                                                38                       38
                                                                                64                       64
                                                                                75                       75
                      21                  1                        1454         30                       30
                                                                                36                       36
                                                                                58                       58
                                                                                78                       78
                                                                                82                       82
                                                                                85                       85
                                                                                90                       90
                      25                  1                        945          33                       33
                      27                  1                        1554         3                         3
                                                                                5                         5
                                                                                20                       20
                                                                                30                       30
                                                                                38                       38
...                                                                                                     ...
239                   54130               6                        1935         36                       36
                                                                                44                       44
                                                                                61                       61
                                                                                82                       82
                                                                                85                       85
                      54845               1                        167          38                       38
                      55208               1                        941          35                       35
                      55559               1                        1530         44                       44
                      55649               3                        2            3                         3
                                                                                89                       89
                      55715               6                        699          23                       23
                                                                                51                       51
                      56071               6                        245          20                       20
                                                                                57                       57
                      56580               3                        1935         61                       61
                                                                                85                       85
                      57751               4                        1501         17                       17
                      57761               3                        701          97                       97
                      59202               3                        397          18                       18
                      59679               6                        447          16                       16
                      60988               6                        701          5                         5
                                                                                41                       41
                                                                                68                       68
                      61120               3                        1531         76                       76
                      63283               3                        1932         31                       31
                      64573               6                        699          31                       31
                      64715               6                        1932         30                       30
                                                                                61                       61
                                                                                62                       62
                      64955               3                        1932         20                       20

[1971613 rows x 1 columns]

In [96]:

agg[agg.hotel_market==1033]

,user_location_country,srch_destination_id,srch_destination_type_id,hotel_market,hotel_cluster,relevance
208,0,268,1,1033,3,5.35
209,0,268,1,1033,12,1.25
210,0,268,1,1033,20,4.25
211,0,268,1,1033,25,1.20
212,0,268,1,1033,29,0.35
213,0,268,1,1033,35,0.05
214,0,268,1,1033,36,2.45
215,0,268,1,1033,38,3.65
216,0,268,1,1033,44,0.15
217,0,268,1,1033,46,9.30
218,0,268,1,1033,53,0.50
219,0,268,1,1033,57,4.15
220,0,268,1,1033,60,6.40
221,0,268,1,1033,61,11.30
222,0,268,1,1033,62,1.25
223,0,268,1,1033,64,1.85
224,0,268,1,1033,67,2.10
225,0,268,1,1033,75,2.10
226,0,268,1,1033,76,0.55
227,0,268,1,1033,78,2.25
228,0,268,1,1033,81,9.30
229,0,268,1,1033,82,7.80
230,0,268,1,1033,85,0.20
231,0,268,1,1033,86,0.05
232,0,268,1,1033,89,1.75
233,0,268,1,1033,99,4.15
11586,0,15799,5,1033,46,1.20
11587,0,15799,5,1033,57,0.05
11588,0,15799,5,1033,60,0.05
11589,0,15799,5,1033,61,0.05
...,...,...,...,...,...,...
1965798,235,56289,9,1033,60,0.05
1965799,235,56289,9,1033,67,0.05
1965800,235,56289,9,1033,78,0.25
1965801,235,56289,9,1033,81,0.05
1965802,235,56289,9,1033,85,1.05
1966574,237,268,1,1033,46,2.25
1966792,237,15799,5,1033,46,1.10
1966870,237,28967,6,1033,46,1.15
1966871,237,28968,6,1033,46,0.10
1966872,237,28968,6,1033,82,0.05
1966873,237,28968,6,1033,99,0.05
1966969,238,268,1,1033,25,1.05
1966970,238,268,1,1033,46,0.10
1966971,238,268,1,1033,60,0.05
1966972,238,268,1,1033,67,0.10
1966973,238,268,1,1033,81,1.20
1968183,238,15799,5,1033,60,1.10
1968690,238,28968,6,1033,36,0.05
1968691,238,28968,6,1033,81,0.05
1968983,239,268,1,1033,25,1.15
1968984,239,268,1,1033,38,0.30
1968985,239,268,1,1033,46,0.30
1968986,239,268,1,1033,64,1.85
1968987,239,268,1,1033,67,0.20
1968988,239,268,1,1033,78,0.10
1968989,239,268,1,1033,81,0.20
1970843,239,15799,5,1033,46,0.10
1970844,239,15799,5,1033,61,0.05
1970845,239,15799,5,1033,81,0.05
1970846,239,15799,5,1033,82,0.15

In [97]:
train.head(20)

AttributeError: 'TextFileReader' object has no attribute 'head'

In [23]:
import pandas as pd
import numpy as np
chunk = pd.read_csv("./kaggle/expedia/data/train.csv",
              
                    nrows=10000)

In [8]:
train["date_time"] = pd.to_datetime(train["date_time"])

In [33]:
import pandas as pd
import numpy as np
chunk = pd.read_csv("./kaggle/expedia/data/train.csv", nrows=10000)
chunk['date_time'] = pd.to_datetime(chunk['date_time'])
for prop in ["month", "day", "dayofweek", "quarter"]:
    props[prop] = getattr(chunk["date_time"].dt, prop)
chunk.drop('date_time',inplace=True,axis=1)
ret = pd.DataFrame(props)
train=pd.concat([chunk,ret],axis=1)

In [15]:
agg.sort(columns=['user_location_country','srch_destination_id','srch_destination_type_id','hotel_market','hotel_cluster','quarter','relevance'])

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,user_location_country,srch_destination_id,srch_destination_type_id,hotel_market,hotel_cluster,quarter,bookings,clicks,relevance
0,0,4,1,246,30,4,1,1,1.05
1,0,4,1,246,78,3,1,2,1.10
2,0,4,1,246,81,2,1,1,1.05
3,0,8,1,416,14,4,0,1,0.05
4,0,8,1,416,39,4,0,1,0.05
5,0,8,1,416,76,4,0,1,0.05
6,0,9,3,2101,20,1,0,5,0.25
7,0,9,3,2101,40,2,1,3,1.15
8,0,9,3,2101,60,2,1,2,1.10
9,0,9,3,2101,61,1,0,1,0.05
10,0,9,3,2101,61,4,0,1,0.05
11,0,14,3,1434,20,2,1,1,1.05
12,0,14,3,1434,38,2,0,1,0.05
13,0,14,3,1434,75,2,0,1,0.05
14,0,14,3,1434,75,4,1,1,1.05
15,0,19,1,1522,6,3,0,1,0.05
16,0,19,1,1522,38,1,0,1,0.05
17,0,19,1,1522,38,3,0,5,0.25
18,0,19,1,1522,38,4,1,4,1.20
19,0,19,1,1522,64,1,2,2,2.10
20,0,19,1,1522,64,3,1,2,1.10
21,0,19,1,1522,75,1,0,1,0.05
22,0,19,1,1522,75,3,0,1,0.05
23,0,21,1,1454,30,1,0,1,0.05
24,0,21,1,1454,30,4,0,1,0.05
25,0,21,1,1454,36,4,0,1,0.05
26,0,21,1,1454,58,1,0,2,0.10
27,0,21,1,1454,78,4,0,1,0.05
28,0,21,1,1454,82,4,0,1,0.05
29,0,21,1,1454,85,4,0,2,0.10
...,...,...,...,...,...,...,...,...,...
3463796,239,54130,6,1935,61,3,0,1,0.05
3463797,239,54130,6,1935,82,2,1,1,1.05
3463798,239,54130,6,1935,85,3,0,1,0.05
3463799,239,54845,1,167,38,3,0,2,0.10
3463800,239,55208,1,941,35,4,1,1,1.05
3463801,239,55559,1,1530,44,3,0,1,0.05
3463802,239,55649,3,2,3,3,0,1,0.05
3463803,239,55649,3,2,89,3,0,1,0.05
3463804,239,55715,6,699,23,4,0,1,0.05
3463805,239,55715,6,699,51,4,0,1,0.05
3463806,239,56071,6,245,20,2,0,4,0.20
3463807,239,56071,6,245,57,2,0,1,0.05
3463808,239,56580,3,1935,61,3,0,2,0.10
3463809,239,56580,3,1935,85,2,0,1,0.05
3463810,239,57751,4,1501,17,2,0,1,0.05
3463811,239,57761,3,701,97,3,1,1,1.05
3463812,239,59202,3,397,18,4,0,2,0.10
3463813,239,59679,6,447,16,2,1,1,1.05
3463814,239,60988,6,701,5,2,0,1,0.05
3463815,239,60988,6,701,41,2,0,2,0.10
3463816,239,60988,6,701,68,2,0,1,0.05
3463817,239,61120,3,1531,76,4,0,1,0.05
3463818,239,63283,3,1932,31,2,0,2,0.10
3463819,239,63283,3,1932,31,3,0,1,0.05
3463820,239,63283,3,1932,31,4,1,1,1.05
3463821,239,64573,6,699,31,3,0,1,0.05
3463822,239,64715,6,1932,30,3,0,1,0.05
3463823,239,64715,6,1932,61,3,0,3,0.15
3463824,239,64715,6,1932,62,4,0,2,0.10
3463825,239,64955,3,1932,20,4,0,1,0.05

In [17]:
columns=['user_location_country','srch_destination_id','srch_destination_type_id','hotel_market','hotel_cluster','quarter','relevance']

In [8]:
relevance = agg['relevance'].values
hotel_cluster = agg['hotel_cluster'].values
most_popular = hotel_cluster[np.argsort(relevance)[::-1]][:5]
np.array_str(most_popular)[1:-1] # remove square brackets
#hotel_cluster[np.argsort(relevance)[::-1]][:5]

' 1  1  1  1 79'

In [10]:
hotel_cluster[np.argsort(relevance)[::-1]]

array([ 1,  1,  1, ..., 30,  7, 20], dtype=int64)

In [11]:
def most_popular(group, columns, n_max=5):
    relevance = group['relevance'].values
    cluster = group[columns].values
    most_popular = hotel_cluster[np.argsort([columns,relevance])[::-1]][:n_max]
    return np.array_str(most_popular)[1:-1] # remove square brackets

In [19]:
columns=['user_location_country','srch_destination_id', 'srch_destination_type_id', 
                        'hotel_market','quarter']

In [16]:
aggs.drop

,user_location_country,srch_destination_id,srch_destination_type_id,hotel_market,hotel_cluster,quarter,sum,count
0,0,104,3,1483,82,4,0,1
1,0,137,3,1605,53,3,0,1
2,0,137,3,1605,61,3,1,2
3,0,137,3,1605,62,3,0,1
4,0,137,3,1605,81,3,0,1
5,0,137,3,1605,82,4,2,4
6,0,317,3,1549,36,2,1,2
7,0,317,3,1549,36,3,1,2
8,0,347,1,52,20,4,0,1
9,0,468,1,153,2,3,1,4
10,0,468,1,153,8,1,1,5
11,0,468,1,153,8,2,0,1
12,0,468,1,153,8,3,0,3
13,0,468,1,153,8,4,0,2
14,0,468,1,153,11,1,0,2
15,0,468,1,153,17,1,0,2
16,0,468,1,153,26,4,0,1
17,0,468,1,153,30,1,0,1
18,0,468,1,153,35,1,0,2
19,0,468,1,153,41,4,0,1
20,0,468,1,153,46,4,0,1
21,0,468,1,153,58,2,0,1
22,0,468,1,153,58,3,0,3
23,0,468,1,153,64,2,0,2
24,0,468,1,153,82,4,0,1
25,0,468,1,153,97,1,1,4
26,0,468,1,153,97,3,1,2
27,0,635,1,1039,15,3,1,3
28,0,635,1,1039,36,3,0,1
29,0,635,1,1039,36,4,0,3
...,...,...,...,...,...,...,...,...
77950,238,8215,1,951,16,3,0,1
77951,238,8215,1,951,46,2,0,1
77952,238,8245,1,245,30,1,0,1
77953,238,8246,1,65,12,4,0,1
77954,238,8246,1,65,36,4,0,2
77955,238,8246,1,65,44,4,0,1
77956,238,8246,1,65,57,4,0,1
77957,238,8246,1,65,81,4,0,1
77958,238,8246,1,65,82,4,0,3
77959,238,8264,1,1568,78,3,1,2
77960,238,14330,4,19,98,2,1,3
77961,238,18788,1,253,29,1,0,2
77962,238,18788,1,253,30,1,0,1
77963,238,18788,1,253,36,1,0,1
77964,238,18788,1,253,44,1,0,2
77965,238,18788,1,253,46,1,0,1
77966,238,18788,1,253,58,1,0,1
77967,238,18788,1,253,60,1,0,1
77968,238,18788,1,253,62,1,0,1
77969,238,18788,1,253,67,1,0,1
77970,238,18788,1,253,78,1,0,1
77971,238,18788,1,253,82,1,0,4
77972,238,18788,1,794,20,1,0,1
77973,238,23507,6,19,25,4,1,2
77974,238,24320,6,65,15,4,0,1
77975,238,24323,6,65,11,4,0,1
77976,238,24353,6,44,57,4,0,1
77977,238,24353,6,44,60,4,0,1
77978,238,24353,6,44,63,4,0,1
77979,238,56286,3,1522,60,4,0,2

In [52]:
test

,id,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market,day,dayofweek,month,quarter
0,0,2,3,66,174,37449,5539.0567,1,1,0,...,1,12243,6,6,204,27,3,3,9,3
1,1,2,3,66,174,37449,5873.2923,1,1,0,...,1,14474,7,6,204,1540,24,3,9,3
2,2,2,3,66,142,17440,3975.9776,20,0,0,...,1,11353,1,2,50,699,7,6,6,2
3,3,2,3,66,258,34156,1508.5975,28,0,1,...,1,8250,1,2,50,628,14,0,9,3
4,4,2,3,66,467,36345,66.7913,50,0,0,...,1,11812,1,2,50,538,17,4,7,3
5,5,2,3,66,311,48189,359.8521,51,0,0,...,2,11827,1,2,50,447,21,1,7,3
6,6,2,3,66,311,48189,237.3465,51,0,0,...,1,8271,1,2,50,696,29,2,7,3
7,7,2,3,66,348,24811,216.5785,51,0,0,...,1,8291,1,2,50,191,1,5,8,3
8,8,2,3,66,311,48189,2337.6754,51,0,0,...,1,8250,1,2,50,628,7,5,11,4
9,9,2,3,66,311,48189,2539.7995,51,0,0,...,1,9145,1,2,50,364,8,6,11,4
10,10,2,3,66,311,48189,2660.9654,51,0,0,...,1,12267,6,2,50,1230,8,6,11,4
11,11,11,3,214,120,44496,NaN,56,0,0,...,1,20813,6,6,70,312,10,0,8,3
12,12,2,3,57,342,5021,NaN,57,0,0,...,1,11353,1,2,50,699,3,2,6,2
13,13,2,3,57,342,5021,NaN,57,0,0,...,1,8826,1,4,47,1501,19,4,6,2
14,14,2,3,57,342,5021,NaN,57,0,0,...,1,8228,1,2,198,371,14,1,7,3
15,15,2,3,57,342,5021,NaN,57,0,0,...,1,1886,1,2,198,789,14,1,7,3
16,16,2,3,57,342,5021,NaN,57,0,0,...,1,8268,1,2,50,682,22,2,7,3
17,17,2,3,57,342,5021,NaN,57,0,0,...,1,12008,1,2,50,686,23,3,7,3
18,18,2,3,57,342,5021,NaN,57,0,0,...,1,8243,1,2,50,409,18,1,8,3
19,19,2,3,57,342,5021,NaN,57,0,0,...,1,8809,1,2,50,698,24,0,8,3
20,20,2,3,57,342,5021,NaN,57,0,0,...,1,8219,1,2,50,688,1,1,9,3
21,21,2,3,57,342,5021,NaN,57,0,0,...,1,8260,1,2,50,701,9,2,9,3
22,22,2,3,57,342,5021,NaN,57,0,0,...,1,8826,1,4,47,1511,25,4,9,3
23,23,2,3,57,342,5021,NaN,57,0,0,...,1,1152,1,4,47,1502,14,2,10,4
24,24,2,3,57,342,5021,NaN,57,0,0,...,1,8267,1,2,50,675,12,5,12,4
25,25,2,3,66,174,24103,2452.2781,65,0,0,...,1,8267,1,2,50,675,14,2,10,4
26,26,11,3,205,135,36086,7449.5906,87,0,0,...,1,8217,1,0,34,43,21,4,8,3
27,27,2,3,66,174,5938,25.8282,98,0,0,...,1,4406,3,2,50,368,28,3,5,2
28,28,2,3,66,435,39058,534.3984,102,0,0,...,1,26437,6,2,50,856,17,3,12,4
29,29,2,3,66,226,20170,911.1921,108,0,1,...,1,8791,1,4,8,110,4,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528213,2528213,2,3,66,258,42396,482.1640,1198681,0,0,...,3,17363,5,2,50,824,2,1,6,2
2528214,2528214,2,3,66,258,42396,561.1356,1198681,0,0,...,1,26624,6,2,50,1367,13,0,7,3
2528215,2528215,2,3,66,258,42396,524.9776,1198681,0,0,...,2,43731,6,2,50,1253,14,1,7,3
2528216,2528216,2,3,66,258,42396,98.9595,1198681,0,0,...,2,27578,6,2,50,426,21,1,7,3
2528217,2528217,2,3,66,258,42396,134.8539,1198681,0,0,...,1,54920,1,2,50,1056,3,0,8,3
2528218,2528218,2,3,66,258,42396,7759.9406,1198681,0,1,...,2,8242,1,3,171,61,14,4,8,3
2528219,2528219,2,3,66,258,42396,244.3949,1198681,0,0,...,1,27006,6,2,50,895,21,0,9,3
2528220,2528220,2,3,66,258,42396,780.8954,1198681,0,0,...,1,26046,6,2,50,681,24,3,9,3
2528221,2528221,2,3,66,258,42396,654.8646,1198681,0,0,...,1,26501,6,2,50,1519,29,1,9,3
2528222,2528222,2,3,66,258,42396,1814.9161,1198681,0,0,...,2,30323,6,2,50,1042,5,3,11,4
2528223,2528223,2,3,66,258,42396,1824.0325,1198681,0,0,...,1,24692,6,2,50,1241,6,4,11,4
2528224,2528224,2,3,66,331,17552,184.1005,1198686,0,0,...,1,11321,1,2,50,642,29,4,5,2
2528225,2528225,2,3,66,220,2086,5187.0656,1198690,0,1,...,1,8746,1,6,105,29,29,2,7,3
2528226,2528226,2,3,66,324,40604,448.0108,1198703,0,0,...,1,12192,6,2,50,406,15,1,12,4
2528227,2528227,2,3,66,324,40604,274.9252,1198703,0,0,...,1,11921,1,2,50,634,15,1,12,4
2528228,2528228,2,3,154,196,38140,NaN,1198710,0,0,...,2,8222,1,4,119,2060,12,1,5,2
2528229,2528229,2,3,154,970,28104,NaN,1198710,0,0,...,1,48884,6,4,119,2063,2,2,9,3
2528230,2528230,2,3,154,970,28104,NaN,1198710,0,0,...,1,330,1,4,119,2062,3,1,11,4
2528231,2528231,2,3,66,442,35390,221.9894,1198717,0,0,...,1,26956,6,2,50,408,12,3,11,4
2528232,2528232,2,3,66,337,12454,NaN,1198720,0,1,...,1,8250,1,2,50,628,28,0,12,4
2528233,2528233,2,3,66,226,13982,25.8312,1198725,0,0,...,1,12177,6,2,50,350,18,1,8,3
2528234,2528234,11,3,205,354,40193,2300.3771,1198734,0,0,...,1,15246,5,4,146,1547,20,1,1,1
2528235,2528235,26,0,66,258,19630,1766.4050,1198736,1,0,...,1,38475,4,4,8,130,11,3,6,2
2528236,2528236,2,3,66,322,47766,296.8726,1198737,1,0,...,1,4383,1,2,50,1052,6,0,4,2
2528237,2528237,2,3,66,174,18037,2369.5146,1198754,1,0,...,1,8855,1,2,50,213,16,1,6,2
2528238,2528238,2,3,66,174,18037,2466.1247,1198754,1,0,...,1,8857,1,2,50,214,16,1,6,2
2528239,2528239,11,3,205,354,48951,4701.6346,1198758,0,0,...,1,19308,3,6,206,1749,25,5,7,3
2528240,2528240,2,3,66,442,17078,1077.2278,1198771,0,0,...,1,8250,1,2,50,628,14,5,3,1
2528241,2528241,2,3,66,184,28561,266.7678,1198775,0,0,...,1,4627,3,2,50,905,21,1,7,3
2528242,2528242,2,3,229,249,56090,NaN,1198782,1,0,...,1,38774,6,3,162,1490,25,2,2,1

In [104]:
test

,id,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market,day,dayofweek,month,quarter
0,0,2,3,66,174,37449,5539.0567,1,1,0,...,1,12243,6,6,204,27,3,3,9,3
1,1,2,3,66,174,37449,5873.2923,1,1,0,...,1,14474,7,6,204,1540,24,3,9,3
2,2,2,3,66,142,17440,3975.9776,20,0,0,...,1,11353,1,2,50,699,7,6,6,2
3,3,2,3,66,258,34156,1508.5975,28,0,1,...,1,8250,1,2,50,628,14,0,9,3
4,4,2,3,66,467,36345,66.7913,50,0,0,...,1,11812,1,2,50,538,17,4,7,3
5,5,2,3,66,311,48189,359.8521,51,0,0,...,2,11827,1,2,50,447,21,1,7,3
6,6,2,3,66,311,48189,237.3465,51,0,0,...,1,8271,1,2,50,696,29,2,7,3
7,7,2,3,66,348,24811,216.5785,51,0,0,...,1,8291,1,2,50,191,1,5,8,3
8,8,2,3,66,311,48189,2337.6754,51,0,0,...,1,8250,1,2,50,628,7,5,11,4
9,9,2,3,66,311,48189,2539.7995,51,0,0,...,1,9145,1,2,50,364,8,6,11,4
10,10,2,3,66,311,48189,2660.9654,51,0,0,...,1,12267,6,2,50,1230,8,6,11,4
11,11,11,3,214,120,44496,NaN,56,0,0,...,1,20813,6,6,70,312,10,0,8,3
12,12,2,3,57,342,5021,NaN,57,0,0,...,1,11353,1,2,50,699,3,2,6,2
13,13,2,3,57,342,5021,NaN,57,0,0,...,1,8826,1,4,47,1501,19,4,6,2
14,14,2,3,57,342,5021,NaN,57,0,0,...,1,8228,1,2,198,371,14,1,7,3
15,15,2,3,57,342,5021,NaN,57,0,0,...,1,1886,1,2,198,789,14,1,7,3
16,16,2,3,57,342,5021,NaN,57,0,0,...,1,8268,1,2,50,682,22,2,7,3
17,17,2,3,57,342,5021,NaN,57,0,0,...,1,12008,1,2,50,686,23,3,7,3
18,18,2,3,57,342,5021,NaN,57,0,0,...,1,8243,1,2,50,409,18,1,8,3
19,19,2,3,57,342,5021,NaN,57,0,0,...,1,8809,1,2,50,698,24,0,8,3
20,20,2,3,57,342,5021,NaN,57,0,0,...,1,8219,1,2,50,688,1,1,9,3
21,21,2,3,57,342,5021,NaN,57,0,0,...,1,8260,1,2,50,701,9,2,9,3
22,22,2,3,57,342,5021,NaN,57,0,0,...,1,8826,1,4,47,1511,25,4,9,3
23,23,2,3,57,342,5021,NaN,57,0,0,...,1,1152,1,4,47,1502,14,2,10,4
24,24,2,3,57,342,5021,NaN,57,0,0,...,1,8267,1,2,50,675,12,5,12,4
25,25,2,3,66,174,24103,2452.2781,65,0,0,...,1,8267,1,2,50,675,14,2,10,4
26,26,11,3,205,135,36086,7449.5906,87,0,0,...,1,8217,1,0,34,43,21,4,8,3
27,27,2,3,66,174,5938,25.8282,98,0,0,...,1,4406,3,2,50,368,28,3,5,2
28,28,2,3,66,435,39058,534.3984,102,0,0,...,1,26437,6,2,50,856,17,3,12,4
29,29,2,3,66,226,20170,911.1921,108,0,1,...,1,8791,1,4,8,110,4,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528213,2528213,2,3,66,258,42396,482.1640,1198681,0,0,...,3,17363,5,2,50,824,2,1,6,2
2528214,2528214,2,3,66,258,42396,561.1356,1198681,0,0,...,1,26624,6,2,50,1367,13,0,7,3
2528215,2528215,2,3,66,258,42396,524.9776,1198681,0,0,...,2,43731,6,2,50,1253,14,1,7,3
2528216,2528216,2,3,66,258,42396,98.9595,1198681,0,0,...,2,27578,6,2,50,426,21,1,7,3
2528217,2528217,2,3,66,258,42396,134.8539,1198681,0,0,...,1,54920,1,2,50,1056,3,0,8,3
2528218,2528218,2,3,66,258,42396,7759.9406,1198681,0,1,...,2,8242,1,3,171,61,14,4,8,3
2528219,2528219,2,3,66,258,42396,244.3949,1198681,0,0,...,1,27006,6,2,50,895,21,0,9,3
2528220,2528220,2,3,66,258,42396,780.8954,1198681,0,0,...,1,26046,6,2,50,681,24,3,9,3
2528221,2528221,2,3,66,258,42396,654.8646,1198681,0,0,...,1,26501,6,2,50,1519,29,1,9,3
2528222,2528222,2,3,66,258,42396,1814.9161,1198681,0,0,...,2,30323,6,2,50,1042,5,3,11,4
2528223,2528223,2,3,66,258,42396,1824.0325,1198681,0,0,...,1,24692,6,2,50,1241,6,4,11,4
2528224,2528224,2,3,66,331,17552,184.1005,1198686,0,0,...,1,11321,1,2,50,642,29,4,5,2
2528225,2528225,2,3,66,220,2086,5187.0656,1198690,0,1,...,1,8746,1,6,105,29,29,2,7,3
2528226,2528226,2,3,66,324,40604,448.0108,1198703,0,0,...,1,12192,6,2,50,406,15,1,12,4
2528227,2528227,2,3,66,324,40604,274.9252,1198703,0,0,...,1,11921,1,2,50,634,15,1,12,4
2528228,2528228,2,3,154,196,38140,NaN,1198710,0,0,...,2,8222,1,4,119,2060,12,1,5,2
2528229,2528229,2,3,154,970,28104,NaN,1198710,0,0,...,1,48884,6,4,119,2063,2,2,9,3
2528230,2528230,2,3,154,970,28104,NaN,1198710,0,0,...,1,330,1,4,119,2062,3,1,11,4
2528231,2528231,2,3,66,442,35390,221.9894,1198717,0,0,...,1,26956,6,2,50,408,12,3,11,4
2528232,2528232,2,3,66,337,12454,NaN,1198720,0,1,...,1,8250,1,2,50,628,28,0,12,4
2528233,2528233,2,3,66,226,13982,25.8312,1198725,0,0,...,1,12177,6,2,50,350,18,1,8,3
2528234,2528234,11,3,205,354,40193,2300.3771,1198734,0,0,...,1,15246,5,4,146,1547,20,1,1,1
2528235,2528235,26,0,66,258,19630,1766.4050,1198736,1,0,...,1,38475,4,4,8,130,11,3,6,2
2528236,2528236,2,3,66,322,47766,296.8726,1198737,1,0,...,1,4383,1,2,50,1052,6,0,4,2
2528237,2528237,2,3,66,174,18037,2369.5146,1198754,1,0,...,1,8855,1,2,50,213,16,1,6,2
2528238,2528238,2,3,66,174,18037,2466.1247,1198754,1,0,...,1,8857,1,2,50,214,16,1,6,2
2528239,2528239,11,3,205,354,48951,4701.6346,1198758,0,0,...,1,19308,3,6,206,1749,25,5,7,3
2528240,2528240,2,3,66,442,17078,1077.2278,1198771,0,0,...,1,8250,1,2,50,628,14,5,3,1
2528241,2528241,2,3,66,184,28561,266.7678,1198775,0,0,...,1,4627,3,2,50,905,21,1,7,3
2528242,2528242,2,3,229,249,56090,NaN,1198782,1,0,...,1,38774,6,3,162,1490,25,2,2,1